# Dossiers / fichiers ignorés WAHIB :

/src
/__pycache__
fichieraignorer.txt
tk_essais.py




# Dossiers / fichiers ignorés JARFAR :






# Dossiers / fichiers ignorés ABDERRAHIM :






# Dossiers / fichiers ignorés SAMIA :






# Dossiers / fichiers ignorés SIKOU :




