# Dossiers / fichiers ignorés WAHIB :

/src
/__pycache__
/_divers
tk_main_pendu_essai.py
tk_algo_exos.py
pendu_console.py



module_abder.pyc
module_jarfar.pyc
module_samia.pyc
module_sikou.pyc
module_wahib.pyc




